div > p {
  color:blue;
}
h1 {
  width:bold;
  align:center;
}
div.h1{
 background-color: #F0DCFC;
 float: right;
 box-sizing: content-box;
}

div.h2{
 background-color: #FEAE63;
 float: right;
 box-sizing: content-box;
   
}

div.h3{
 background-color: #FF8989;
 float: right;
 box-sizing: content-box;
}

h2{
  color: green; 
}
