div > p {
  color:black;
}
h1 {
  width:bold;
 
}

h2{
  color: green; 
}

@media (min-width: 991px){
	
.h1{
background-color: #F0DCFC;
position:relative;
box-sizing:border-box;
width:300px ;
height:200px;
border:2px solid red;
margin:20px;
padding:10px;
}
    

.h2{
background-color:#C3F0EB;
box-sizing:border-box;
position:relative;
top:-220px;
left:400px;
width:300px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px;
   
}

.h3{
background-color:#FFB4B4;
position:relative;
box-sizing:border-box;
width:300px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px;
top:-440px;
left:780px;
}

}




@media (max-width:990px) and (min-width:700px){
.h11{
background-color: #F0DCFC;
position:relative;
box-sizing:border-box;
width:300px ;
height:200px;
border:2px solid red;
margin:20px;
padding:10px;

    
}

.h22{
background-color:#C3F0EB;
box-sizing:border-box;
position:relative;
top:-220px;
left:400px;
width:300px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px;
   
}

.h33{
background-color:#FFB4B4;
position:relative;
box-sizing:border-box;
width:700px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px;
top:-200px;
left:0px;

}

}


@media (max-width: 699px){
	
.h111{
background-color:#F0DCFC;
width:300px;
height:200px;
border:2px solid red;
margin:20px;
padding:10px;
float:left;

   
}

.h222{
background-color:#C3F0EB;
width:300px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px; 
float:left; 
}

.h333{
background-color:#FFB4B4;
width:300px;
height:200px;
border:2px solid red;
margin: 20px;
padding:10px;
float:left;

}

}

